<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dante Embed</title>
</head>
<body>
    <script>
        window.danteEmbed = "https://dante-ai.com/embed/?kb_id=1250526c-d1f8-476c-a912-b688823e584e&token=9e36ba67-c59d-42cc-b6b7-c3106974deb5&modeltype=gpt-4-omnimodel-mini&mode=false&logo=ZmFsc2U%3D&bubble=true&bubbleopen=false";
    </script>
    <script src="https://dante-ai.com//bubble-embed.js"></script>
</body>
</html>