<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dante Embed Iframe</title>
</head>
<body>
    <iframe src="https://dante-ai.com/embed/?kb_id=1250526c-d1f8-476c-a912-b688823e584e&token=9e36ba67-c59d-42cc-b6b7-c3106974deb5&modeltype=gpt-4-omnimodel-mini&mode=false&logo=ZmFsc2U%3D" 
            allow="clipboard-write; clipboard-read; *;microphone *" 
            width="100%" height="950" frameborder="0">
    </iframe>
</body>
</html>