<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/chat-style.css">
    <link rel="icon" href="/static/images/panel-logo.png" type="image/x-icon"> <!-- Add this line for favicon -->
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/images/panel-logo.png" alt="Logo">
            <h1>LetsTalk</h1>
        </div>
        <div class="chat-container">
            <div class="chat-window" id="chat-window">
                <div id="scrollToBottom" class="scroll-to-bottom" style="display: none;">
                    <div class="scroll-icon">↓</div>
                </div>
            </div>
            <div class="input-area">
                <textarea id="message-input" placeholder="Type a message"></textarea>
                <button onclick="APP.sendMessage()" id="send-button">
                    <i class="fas fa-location-arrow" style="font-size: 30px; transform: rotate(45deg);"></i>
                    <i class="fas fa-stop-circle" style="font-size: 30px; display: none;"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/elements.js"></script>
    <script src="/static/js/formatter.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/listeners.js"></script>
</body>
</html>
