LOG_LEVEL=DEBUG
DEBUG_APP=1
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5002
APP_SECRET_KEY=appsecretkey
UPLOAD_FOLDER=/tmp
EXTERNAL_ADDRESS=
WEB_PANEL_ADDRESS=http://localhost:3006
WEB_PANEL_PREFIX=/panel
MYSQL_HOST=mysql
MYSQL_USER=letstalk
MYSQL_ROOT_PASSWORD=
MYSQL_PASS=
MYSQL_DB=letstalk
MYSQL_PORT=3306
AUTH0_DOMAIN=
API_AUDIENCE=https://letstalk
ALGORITHMS=RS256