LOG_LEVEL=DEBUG
DEBUG_APP=1
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5000
BACKEND_PREFIX=/backend
APP_SECRET_KEY=
UPLOAD_FOLDER=/tmp
EXTERNAL_ADDRESS=
WEB_PANEL_ADDRESS=http://localhost
WEB_PANEL_PORT=3000
WEB_PANEL_PREFIX=/panel
MYSQL_HOST=mysql
MYSQL_USER=letstalk
MYSQL_ROOT_PASSWORD=
MYSQL_PASS=
MYSQL_DB=letstalk
MYSQL_PORT=3306
AUTH0_DOMAIN=
API_AUDIENCE=https://letstalk
ALGORITHMS=RS256