<!doctype html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} {{ version }} - Elements</title>
  <link rel="icon" type="image/png"
    href="{{ config.DOCS_FAVICON }}">
  <script src="{{ config.ELEMENTS_JS }}"></script>
  <link rel="stylesheet" href="{{ config.ELEMENTS_CSS }}">
</head>
<body>

  <elements-api
    apiDescriptionUrl="{{ url_for('openapi.spec') }}"
    layout="{{ config.ELEMENTS_LAYOUT }}"
    {% if config.ELEMENTS_CONFIG and 'router' in config.ELEMENTS_CONFIG %}
      {% set router = config.ELEMENTS_CONFIG['router'] %}
    {% else %}
      {% set router = 'hash' %}
    {% endif %}
    router={{ router | tojson }}
    {% if config.ELEMENTS_CONFIG %}
      {% for key, value in config.ELEMENTS_CONFIG.items() %}
        {{ key }}={{ value | tojson }}
      {% endfor %}
    {% endif %}
  />
  <script>
    window.onload = function () {
    // Your code here
    const elements = document.querySelectorAll('.sl-inverted');
    elements.forEach(element => {
        element.classList.remove('sl-inverted');
        element.classList.add('sl-panel', 'sl-outline-none', 'sl-w-full', 'sl-rounded-lg');
    });
};
  </script>
</body>
</html>